@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light;
}

.urbanist-uniquifier {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.carousel > .thumbs-wrapper > .thumbs{
  display: none!important;
}
@theme {
  --color-PPrimary: #CAEB66;
}
/* Custom input class */
@layer components {
  .input {
    @apply border border-gray-300 rounded-md px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-green-500;
  }
}
